body {
    text-align: center;
    background-color: #ff8000;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    width: 1000px;
    background-color: #ffffff;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.shopimg {
    padding: 5px;
}

.item {
    text-align: left;
    padding: 5px;
}

.button:hover {
    cursor: pointer;
}

.cartbutton {
    background-color: #40ccff;
    text-align: center;
}

.purchasebutton {
    background-color: #40ccff;
    text-align: center;
}
