body {
    text-align: center;
    background-color: #ff8000;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 600px;
    background-color: #ffffff;
}

.item {
    text-align: left;
    padding: 5px;
}

.button:hover {
    cursor: pointer;
}

.cartbutton {
    background-color: #40ccff;
    text-align: center;
}

.purchasebutton {
    background-color: #40ccff;
    text-align: center;
}
